.principal{
    margin-top: 100px;
}

.header-bg {
    background-color: #020c41;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100px; /* Cambiar el color del texto a blanco */
  }

.btn-warning{
    background-color: #07e7cc;
    border: none;
    color: #020c41;
    font-weight: bold;
}

.btn-warning:hover{
  background-color: #024ccc;
  color: #f2f2f0 !important;
}

.btn-warning:not(:disabled):not(.disabled):active{
  background-color: #024ccc;
  color: #f2f2f0 !important;
  border:none;
}

 a{
  color: white;
}
a:hover{
  text-decoration: none;
}

.btn-outline-light:hover{
  color: #020c41;
}

.titulo{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.d-block {
  max-width: 100%;
  height: 570px;
  object-fit: cover;
 }

.mb-3 {
  width: max-content;
}

.fecha {
  width: 100%;
  margin: 0 auto;
}

.input-city {
  height: 150px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  inline-size: auto;
  gap: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f5b0b0;
}

.btn-buscar {
  width: 100%;
  margin: 0 auto;
}

.footer-bg {
    background-color: #020c41;
    color: white;
  }

  .footer-bg a {
    color: white;
  }

  .footer-bg a:hover {
    color: lightgray;
  }

  .suggestions-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestions-dropdown li {
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: #f5b0b0;
}

.nav-item {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.nav-item img{
  width: 30px;
}

.btn-flight-option {    
  padding: 10px 20px;
  margin: 0 5px;
}

.btn-flight-option.active {
  background-color: #007bff;
  color: white;
}


@media screen and (max-width: 800px) {
  
  
}